/* ✅ Fixed Header */
.div-header-section {
  position: fixed;                           /* Always stick to top */
  top: 0;
  left: 0;
  width: 100%;
  height: 128px;                             /* Fixed height */
  background-color: rgba(var( --primary-blue-light), 0.59);  /* ✅ 59% opacity */
  padding: 10px 20px;
  box-sizing: border-box;
  z-index: 100;                              /* Float above all */
  transition: background-color 0.3s ease;    /* Smooth transition */
}

/* ✅ Background color after scroll */
.div-header-section.scrolled {
  background-color: rgba(var( --primary-blue-dark), 1);  /* ✅ 100% opacity */
}

/* Header inner layout */
.header-content {
  width: 52%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.flex-spacer {
  flex: 0.05; /* Adjust to control the gap */
}

/* Logo */
/*.aldarbi-logo svg {
  height: 95px;
}*/

.injected-logo {
  width: 100px !important;
  height: auto;
  display: block;
}



/* Navbar */

.navbar {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.navbar a:hover {
  color: grey;
}
