.div-site-title {
  margin: 0 20px 0 0;
}


.div-statistics-section {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  overflow: hidden; /* ✅ Prevents overflow */
}
