.mobile-nav {
  font-family: "Almarai", sans-serif;
  display: none;
  position: absolute;
  top: 128px; /* Same height as header */
  right: 0;
  width: 100%;
  background-color: rgba(var(--primary-blue-dark), 1);
  padding: 20px 0;
  text-align: center;
  z-index: 99;
}

.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav li {
  margin: 10px 0;
}

.mobile-nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

@media (min-width: 769px) {
  .mobile-nav {
    display: none !important;
  }
}
