/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: yellow;
}

.header-section {
background-color: blue;
height: 100vh;

}

.div-header-nav {
/*background-color: red;*/
}

.div-header-img {
/*background-color: green;*/
}

.li-head-list {

}

.img-header {

}
